<%- include('../partials/head.ejs') ;%>

<body class="h-100 d-flex flex-column">
    <%- include('../partials/nav'); %>
    <div class="container-fluid py-5 px-md-5 col">
        <!-- Encabezado de la página -->
        <header class="d-flex align-items-center justify-content-between">
            <h1>Nueva Imagen</h1>
        </header>
        <!-- Contenido principal de la página -->
        <main class="col h-100">
            <!-- Formulario para subir imágenes -->
            <form class="d-flex flex-column mx-auto gap-3" id='uploadForm' encType="multipart/form-data">
                <div class="mb-3">
                    <label for="image" class="form-label">Seleccione una nueva Imagen</label>
                    <!-- Campo de entrada de tipo archivo para seleccionar una imagen -->
                    <input type="file" class="form-control" name="image" id="image" accept="image/jpeg, image/png, image/jpg" />
                </div>
                <!-- Botón para subir la imagen -->
                <button class="btn btn-primary w-25" type='submit'>Subir</button>
                <!-- Elemento para mostrar mensajes de error -->
                <p id="validationErrors" class="text-danger"></p>
            </form>
        </main>
    </div>
    <!-- Incluir el pie de página -->
    <%- include('../partials/footer'); %>
    <!-- Incluir el script para la lógica de la página "Nueva Imagen" -->
    <script src="/js/crear.js"></script>
</body>
</html>