<%- include('../partials/head.ejs') ;%>

<body class="h-100 d-flex flex-column">
    <%- include('../partials/nav'); %>

    <% if (mensaje) { %>
        <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
            <%= Mensaje %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>

    <div class="container-fluid py-5 px-md-5 col">
        <header class="d-flex align-items-center justify-content-between mb-4">
            <h1>Imágenes</h1>
            <a class="btn btn-primary" href="/crear">Agregar Nueva Imagen</a>
        </header>
        <main class="col h-100">
            <section id="galleries" class="row row-cols-1 row-cols-md-3 g-4">
                <!-- Aquí se mostrarán las imágenes -->
            </section>
        </main>
    </div>

    <%- include('../partials/footer'); %>
    <script src="/js/index.js"></script>
</body>
</html>