<%- include('../partials/head.ejs') ;%>
<body class="h-100 d-flex flex-column">
    <%- include('../partials/nav'); %>
    <div id="alertBanner" class="alert alert-warning alert-dismissible fade" role="alert">
        <span id="bannerMessage"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>      
    <div class="container-fluid py-5 px-md-5 col">
        <header class="d-flex align-items-center justify-content-between mb-4">
            <h1>Galería de Imágenes</h1>
            <a class="btn btn-primary" href="/crear">Agregar Nueva Imagen</a>
        </header>
        <main class="col">
            <section class="mb-5">
                <h2>IMAGENES ALOJADAS DE FORMA LOCAL</h2>
                <div class="row" id="galeriaLocal">  
                    <!-- Aquí se mostrarán las imágenes locales -->
                </div>
            </section>
            <section>
                <h2>IMAGENES ALOJADAS EN CLOUDINARY</h2>
                <div class="row" id="galeriaRemota"> 
                    <!-- Aquí se mostrarán las imágenes alojadas en Cloudinary -->
                </div>
            </section>
        </main>
    </div>

    <!-- Incluir el pie de página -->
    <%- include('../partials/footer'); %>
    <!-- Incluir el script para la lógica de la página de visualización de imágenes -->
    <script src="/js/index.js"></script>
</body>
</html>