<%- include('../partials/head.ejs') ;%>

<body class="h-100 d-flex flex-column">
    <%- include('../partials/nav'); %>

    <% if (mensaje) { %>
        <!-- Mostrar mensaje de advertencia si hay un mensaje definido -->
        <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
            <%= Mensaje %>
            <!-- Botón para cerrar la alerta -->
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>

    <div class="container-fluid py-5 px-md-5 col">
        <!-- Encabezado de la página con botón para agregar nueva imagen -->
        <header class="d-flex align-items-center justify-content-between mb-4">
            <h1>Imágenes</h1>
            <a class="btn btn-primary" href="/crear">Agregar Nueva Imagen</a>
        </header>
        <main class="col h-100">
            <!-- Sección donde se mostrarán las imágenes -->
            <section id="galleries" class="row row-cols-1 row-cols-md-3 g-4">
                <!-- Espacio reservado para mostrar las imágenes (aún no se muestra ninguna) -->
            </section>
        </main>
    </div>

    <!-- Incluir el pie de página -->
    <%- include('../partials/footer'); %>
    <!-- Incluir el script para la lógica de la página de visualización de imágenes -->
    <script src="/js/index.js"></script>
</body>
</html>